@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

.body-content a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  position: relative;
}

.body-content a::after{
  position: absolute;
  top: 100%;
  left:0;
  border: 1px solid currentColor;
  width: 100%;
  content: '';
  opacity:0;
  width:0;
  transition:all .4s ease;
}

.body-content a:hover::after{
  width: 100%;
  opacity: 0.8;
}

a:hover {
  color: #3741ff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  text-align: left;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.font-semibold {
  font-weight: 600;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight:bold;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

.h1, h1 {
  font-size: 2rem;
}

.h2, h2 {
  font-size: 1.75rem;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1.15rem;
}

.h6, h6 {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

select{
  appearance:none;
  -webkit-appearance: none;
  background-position-x: calc(100% - 12px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-width='1.5' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E" );
  background-size: 16px;
}

#app {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #3741ff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark-mode{
  background-color: #120f1e;
}

.body-content img {
  display: block;
  margin: 2.5rem auto;
  border-radius: 4px;
}

.body-content code{
  display: block;
  margin: 1rem auto;
  font-size: 13px;
  padding: 0.75rem 1rem;
  background-color: #efefef;
  border-radius: 0.25rem;
  max-width: 100%;
  overflow: auto;
}

.body-content ul{
  margin:0.5rem;
  margin-block-start: 0;
  padding-inline-start: 0.5rem;
  margin-bottom:1.5rem;
}

.body-content li{
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="rgb(79, 70, 229)" aria-hidden="true"%3E%3Cpath fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"/%3E%3C/svg%3E');
  background-size: 18px 18px;
  background-position-y: 6px;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
  display: flex;
  column-gap: 0.75rem;
  list-style: none;
  line-height: 2rem;
  font-weight: 500;
}